/* Estilos específicos para el formulario de Reportar Error */
.report-error-form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .report-error-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .report-error-form input,
  .report-error-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .report-error-form button {
    padding: 10px 15px;
    background-color: #33e2ff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .report-error-form button:hover {
    background-color: #0094cc;
  }
  