<style>
  /* Estilos específicos para el formulario de Reportar Error */
.report-error-form {
max-width: 600px;
margin: 20px auto;
margin-top: 50px auto;
background-color: var(--primary-hue);
padding: 20px;
border-radius: 10px;
border: 1px solid #ccc;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.report-error-form label {
font-weight: bold;
display: block;
margin-bottom: 5px;
}

.report-error-form input,
.report-error-form textarea {
width: 100%;
padding: 10px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
}

.report-error-form button {
padding: 10px 15px;
background-color: #33e2ff;
border: none;
color: white;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s;
}

.report-error-form button:hover {
background-color: #0094cc;
}
#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -50px 0 0 0 !important;
  z-index: -999999;
  opacity: 0;
  }
</style>
<script>
  window.onload = function() { 
    var el = document.getElementById('g-recaptcha-response'); 
    if (el) { 
      el.setAttribute('required', 'required'); 
    } 
  }
</script>


<form action="https://formspree.io/f/mvgpnknv" method="POST" class="report-error-form">
  <label for="name">Concesionario: (Obligatorio)</label>
  <input type="text" id="name" name="name" placeholder="Escribe el nombre del concesionario">

  <label for="email">Correo electrónico: (Obligatorio) </label>
  <input type="email" id="email" name="email" placeholder="Escribe tu correo">

  <label for="message">Descripción del error o sugerencia:</label>
  <textarea id="message" name="message" rows="5" placeholder="Describe el error encontrado o escribe una sugerencia."></textarea>

  <button type="submit">Enviar reporte</button>
  <div class="g-recaptcha" data-sitekey="6LdzIkAqAAAAAJ2VGRfykWFmXqMbdIV65HHoux6j"></div>
</form>
 